.flexCrearGif{
    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;

    .arrowCrearGif {
        margin-right: 0.5rem;
    }
}

.crearGif {
    width: 684px;
    height: 386px;
    margin: 0 auto;
    background: #E6E6E6;
    box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;

    .barraCrearGif {
        background-image: linear-gradient(270deg, #F7C9F3 0%, #4180F6 100%);
        height: 24px;
        font-size: 14px;
        font-weight: bold;
        color: #FFFFFF;
        padding: 4px;
    }

    .containerCrearGif {
        padding: 2rem;

        .iconTitleCrearGif{
            display: flex;
            margin-bottom: 1rem;
    
            img {
                margin-right: 1.5rem;
            }
    
            p {
                font-weight: bold;
                font-size: 16px;
                color: #110038;
            }
        }

        .listCrearGif {
            margin-left: 3.5rem;
            font-size: 14px;
            color: #110038;
            p{
                margin-bottom: 0.5rem;
            }

            .ulCrearGif {
                li {
                    margin-bottom: 0.5rem;
                    list-style: none;
                    
                }

                .dot {
                    margin-right: 0.4rem;
                }

                &:last-child{
                    margin-bottom: 0;
                }
            }

            .boldCrearGif {
                font-weight: bold;
            }

            .italic {
                font-style: italic;
            }
        }
    }
    
}

.buttonsCrearGif {
    @include flex(flex-end);

    .cancelarButton{
        margin-right: 1rem;
        width: 144px;
        height: 36px;
        background: #FFF4FD;
        border: 1px solid #110038;
        box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
        text-align: center;
        line-height: 36px;       
        cursor: pointer;

        &:hover {
            outline: 1px dotted #110038;
            outline-offset: -4px;
        }

        a {
            text-decoration: none;
            
        }
    }

    .comenzarButton {
        margin-right: 3rem;
        width: 144px;
        height: 36px;
        background: #F7C9F3;
        border: 1px solid #110038;
        box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
        text-align: center;
        line-height: 36px;
        cursor: pointer;
        &:hover {
            outline: 1px dotted #110038;
            outline-offset: -4px;
        }
    }
}

.misGuifos {
    width: 80%;
    margin: 0 auto;
    margin-top: 36px;

    .h1Sugs {
        background: #fffafe;
        border: 1px solid #e6bbe2;
        box-shadow: inset -2px -2px 0 0 #e6dce4, inset 2px 2px 0 0 #80687d;
        height: 32px;
    }

    .mainTittle {
        font-size: 14px;
        font-weight: normal;
        margin-left: 0.5rem;
        line-height: 32px;
    }
}

#videoObj {
    width: 746px;
    height: 429px;
    margin: 0 auto;
}

.videoObjContainer{
    margin: 0 auto;
    margin-top: 0.5rem;
    display: block;
    width: 754px;
    height: 432px;
    background: #FFFFFF;
    border: 1px solid #979797;
    box-shadow: inset -2px -2px 0 0 #E6E6E6, inset 2px 2px 0 0 #000000;

}

.buttonsContainer {
    width: 500px;
    display: flex;
    justify-content: space-around;
    margin: 1rem auto;

}

#srcObjetc {
    width: 860px;
    height: 548px;
    margin: 1rem auto;
    background: #E6E6E6;
    box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
    @extend .crearGif;
    
    .barraChequearGif {
        @include flex(space-between);
        @extend .barraCrearGif;
        
    }

    .containerComenzarCaptura{
        margin: 0 3.2rem;
        @include flex(space-between);
        align-items: center;


    }
    .comenzarCaptura {
        @include flex(flex-end);
        margin-top: 1rem;
        background: #F7C9F3;
        box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
        border: 1px solid #110038;
        &:hover .cameraSvg,
        &:hover .capturar {
            outline: 1px dotted #110038;
            outline-offset: -4px;
        }
        
        .cameraSvg {
            width: 36px;        
            padding: 0.5rem;
            //border: 1px solid #110038;
            box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
        }

        .capturar {
            color: #110038;
            width: 144px;
            text-align: center;
            padding: 0.5rem;
            //border: 1px solid #110038;
            // background: #F7C9F3;
            // border: 1px solid #110038;
            box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
            cursor: pointer;
        }

        
    }

    .timerGuifo {
        background: #FFFFFF;
        border: 1px solid #979797;
        box-shadow: inset -2px -2px 0 0 #E6E6E6, inset 2px 2px 0 0 #000000;
        width: 124px;
        height: 36px;
        margin-top: 1rem;
        text-align: center;
        line-height: 36px;
        
    }

    .listoCaptura {
        @include flex(flex-end);
        margin-top: 1rem;
        background: #FF6161;
        border: 1px solid #110038;
        box-shadow: inset -1px -1px 0 0 #993A3A, inset 1px 1px 0 0 #FFFFFF;

        &:hover .cameraSvg,
        &:hover .capturar {
            outline: 1px dotted #110038;
            outline-offset: -4px;
        }

        .listoSvg {
            width: 36px;
            padding: 0.5rem;
            box-shadow: inset -1px -1px 0 0 #993A3A, inset 1px 1px 0 0 #FFFFFF;
        }

        .listo {

            width: 144px;
            text-align: center;
            padding: 0.5rem;
            cursor: pointer;
            color: #fff; 
            box-shadow: inset -1px -1px 0 0 #993A3A, inset 1px 1px 0 0 #FFFFFF;
        }

    }
}


//Progress Bar
$progress: 25px;

.progressBarContainer{
    display: flex;
    margin-top: 1rem;
    visibility: hidden;
}


.progressBar{
    box-shadow: inset -2px -2px 0 0 #FFFCFC, inset 2px 2px 0 0 #000000;
    height: $progress;
    display: flex;
    background: transparent;
    align-items: center;
    padding: 0.1rem;
}

.bar{
    border: #B4B4B4 1px solid;
    margin-right: 2px;
    background: #999999;
    width: 12px;
    height: 20px;

}

.barColor {
    background: #F7C9F3;
}

#forward{
    background: #F7C9F3;
    border: 1px solid #110038;
    box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
    padding: 0.3rem;
    height: $progress;
    width: $progress;

    &:active {
        box-shadow: inset 1px 1px 0 0 #997D97, inset -1px -1px 0 0 #FFFFFF;
    }
}


.repetirSubir {
    
    @extend .buttonsCrearGif;

    .repetir {
        @extend .cancelarButton;
        margin-top: 1rem;
        p {
            color: #110038;
        }
    }
    
    .subir {
        @extend .comenzarButton;
        margin-top: 1rem;
        margin-right: 0;
        p {
            color: #110038;
        }
    }
}

.cruzChequeo {
    cursor: pointer;
}

#imgSrc {
    height: 429px;
    width: 500px;
    background-color: #4180F6;
}

.containerSubiendoGif {
    @extend .buttonsCrearGif;
    @extend .videoObjContainer;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .textSubiendoGuifo {
        font-weight: bold;
        margin-top: 0.5rem;
        margin-bottom: 2rem;
        font-size: 16px;
    }

    .tiempoRestante {
        font-size: 12px;
        color: rgba(17,0,56,0.64);

        span{
            text-decoration: line-through;
        }
    }

    
}

.uploadProgressBar{
    @extend .progressBar;
    background: #B4B4B4;
    
}

.cancelarSubida {
    width: 144px;
    height: 36px;
    background: #FFF4FD;
    border: 1px solid #110038;
    box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
    text-align: center;
    line-height: 36px;       
    margin-top: 1rem;
    cursor: pointer;
        p {
            text-decoration: none;
            color: #110038;
        }
}

.textSubiendoGuifo{
    color: #d43535;
}

.finishUpload{
    @extend .crearGif;
    height: 391px;

    .barraSubidoConExito {
        @include flex(space-between);
        @extend .barraCrearGif;

    }
}

.containerSubidoConExito {
    @include grid(repeat(2, 1fr));
    // display: grid;
    // grid-template-columns: 1fr 1fr;
    gap: 0.5rem;
    #gifUploaded{
        background: #FFFFFF;
        border: 1px solid #979797;
        box-shadow: inset -2px -2px 0 0 #E6E6E6, inset 2px 2px 0 0 #000000;
        background-position: center;
        background-size: contain;
        padding: 0.1rem;
        margin-top: 2rem;
        margin-left: 1.8rem;
        width: 365px;
        height: 191px;
        grid-row: 1 / 3;
    }

    .containerButtons{
        
        display: grid;
        grid-template-rows: repeat(6, 1fr);
        height: calc(391px - 24px);
        margin: 0 auto;
    }
    .textExito{
        font-size: 16px;
        color: #110038;
        letter-spacing: 0;
        line-height: 22px;
        font-weight: bold;
        align-self: end;
        grid-row: 1 / 2;
    }

    .copiarEnlace {
        @extend .cancelarSubida;
        margin: 0;
        margin-bottom: 0.5rem;
        width: 256px;
        align-self: end;
        grid-row: 2 / 3;

        &:hover {
            outline: 1px dotted #110038;
            outline-offset: -4px;
        }
    }

    .descargarEnlace {
        @extend .cancelarSubida;
        margin: 0;
        margin-top: 0.5rem;
        width: 256px;
        grid-row: 3 / 4;
        align-self: start;

        &:hover {
            outline: 1px dotted #110038;
            outline-offset: -4px;
        }
    }

    .listoUpload {
        width: 144px;
        height: 36px;
        background: #F7C9F3;
        border: 1px solid #110038;
        box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
        text-align: center;
        line-height: 36px;
        grid-row: -2 / -1;
        justify-self: end;    
        cursor: pointer;

        &:hover {
            outline: 1px dotted #110038;
            outline-offset: -4px;
        }
    }
    
}

.misGuifos{
    height: 100vh;
}

.containerGifCreated{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 1rem auto 0 auto;
    justify-items: center;
    grid-auto-flow: row dense;

    gap: 1rem;

}

.imgUp {
    border: 1px solid #979797;
    box-shadow: inset -2px -2px 0 0 #E6E6E6, inset 2px 2px 0 0 #000000;
    padding: 0.1rem;
    height: 200px;
}

.blurryBackground {
    //background-color: hsla(0, 2%, 20%, 0.37);
    filter: blur(0.2rem);

}

.alertMsg{
    @extend .crearGif;
    height: 200px;
    position: absolute;
    top: 65%;
    left: 25%;
    animation: grow 0.7s forwards normal;
    opacity: 0%;

    transition: all ease-in 0.5s;
    //transform: scale(0.1);

    .barraAlertMsg {
        @include flex(space-between);
        @extend .barraCrearGif;
    }

    .containerAlertMsg{
        display: flex;
        //flex-direction: column;
        justify-content: center;
        align-items: center;
        height: calc(100% - 24px);
        .randomText{
            font-size: 2rem;
            //margin: 0 auto;
        }
        
        .attentionImg{
            margin-right: 3rem;
            height: 50px;
        }
    }
}

@keyframes grow {
    0% {
        //transform: scale(0.1);
        opacity: 0%;
    }

    100% {
        //transform: scale(1);
        opacity: 100%;
    }
}