.darkThemeBody {
  background-color: #110038;
}

.backgroundYLetrasDark{
  background-image: linear-gradient(270deg, #ee3efe 0%, #2e32fb 100%)!important;
  box-shadow: 0 1px 0 0 #110038!important;
  //tittleBar, styleBar, gifResultsFrames, trendFootImgs
}

.buttonDark{
  background-color: #ee3efe!important;
  border: 1px solid #110038!important;
  box-shadow: inset -1px -1px 0 0 #a72cb3, inset 1px 1px 0 0 #ffffff!important;
  color: #fff!important;

  &:active,
  &:hover {
    background-color: #CE36DB!important;
    outline: 1px dotted #110038!important;
    outline-offset: -4px!important;
  }

  &:hover .parrafContainer,
  &:hover .arrowDown {
    background-color: #CE36DB!important;
    outline: 1px dotted #110038!important;
    outline-offset: -4px!important;
  }

}


.textDark{
  color: #fff!important;
}

.borderDark {
  border: 0.5px solid #fff!important;
}

.boxDark {
  background: #b4b4b4!important;
  border: 1px solid #808080!important;
  box-shadow: inset -1px -1px 0 0 #b4b4b4, inset 1px 1px 0 0 #ffffff!important;

  //searchBox, buttonSearch, boxResults

  .boxResults:hover {
    box-shadow: inset -2px -2px 0 0 #b4b4b4, inset 2px 2px 0 0 #ffffff;
    cursor: pointer;
    background-color: #b4b4b4;
  }
}

.themeSelect {
  background: #cccccc!important;
  border: 1px solid #808080!important;
  box-shadow: inset -1px -1px 0 0 #b4b4b4, inset 1px 1px 0 0 #ffffff!important;

  &:hover {
    background: #2e32fb!important;
    border: 1px solid rgba(51, 53, 143, 0.2)!important;
    box-shadow: inset -1px -1px 0 0 #e6dce4, inset 1px 1px 0 0 #ffffff!important;
    color: #fff!important;
  }
}

//Day y Dark Theme de la flecha desplegable

.searchWordDark {
  color: #8F8F8F!important;
}

.blueButtonDark {
  background: #2E32FB!important;
  border: 1px solid #4C2F99!important;
  box-shadow: inset -2px -2px 0 0 #2124B3, inset 2px 2px 0 0 #FFFFFF!important;
}

.myGifHoverDark:hover {
  border: 0.3px dotted #fff!important;
}


.buttonHoverColorDark {
  border: 1px solid #110038;
  box-shadow: inset -1px -1px 0 0 #a72cb3, inset 1px 1px 0 0 #ffffff;
  @include flex(space-evenly);
  align-items: center;
  height: 36px;
  width: 102px;
  margin: 0 0 0 8px;
  //color: #fff;
  user-select: none;
  background: #ee3efe;
  position: relative;
  &:hover {
    background-color: #ce36db;
    outline: 1px dotted #110038;
    outline-offset: -4px;
  }



  .searchWord {
    line-height: 36px;
    color: #fff !important;
  }

  .lupa {
    height: 16px;
    user-select: none;

    img {
      line-height: 36px;
    }
  }
}

.comenzarGifDark {
  background: #EE3EFE!important;
  border: 1px solid #110038!important;
  box-shadow: inset -1px -1px 0 0 #A72CB3, inset 1px 1px 0 0 #FFFFFF!important;
  &:hover {
    background: #CE36DB!important;
    border: 1px solid #110038!important;
    box-shadow: inset -1px -1px 0 0 #A72CB3, inset 1px 1px 0 0 #FFFFFF!important;
  }
}

.cancelarGifDark {
  background: #CCCCCC!important;
  border: 1px solid #808080!important;
  box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF!important;
  
  &:hover {
    background: #2E32FB!important;
    border: 1px solid rgba(51,53,143,0.20)!important;
    box-shadow: inset -1px -1px 0 0 #E6DCE4, inset 1px 1px 0 0 #FFFFFF!important;
  }
  
  &:hover a{
      color: #fff!important;
  }

  &:hover p{
    color: #fff!important;
}
  
}

.listoCapturaDark {
  background: #FF6161!important;
  border: 1px solid #110038!important;
  box-shadow: inset -1px -1px 0 0 #993A3A, inset 1px 1px 0 0 #FFFFFF!important;

  &:hover .listoSvg,
  &:hover .listo {
      outline: 1px dotted #110038;
      outline-offset: -4px;
  }
}
.barColorDark {
  background: #EE3EFE!important;
}

.buttonDarkCrearGif{
  background-color: #ee3efe!important;
  border: 1px solid #110038!important;
  box-shadow: inset -1px -1px 0 0 #a72cb3, inset 1px 1px 0 0 #ffffff!important;
  color: #fff!important;

  &:hover .cameraSvg,
  &:hover .capturar {
    background-color: #CE36DB!important;
    outline: 1px dotted #110038!important;
    outline-offset: -4px!important;
  }
}


.repetirYSubirDark{
  background: #110038!important;
  border: 1px solid #B4B4B4!important;
  box-shadow: inset -1px -1px 0 0 #5C5C5C, inset 1px 1px 0 0 #FFF4FD!important;

  p {
    color: #FFF!important;
  }

  &:hover{
    outline: 1px dotted #FFF!important;
    outline-offset: -4px!important;
  }
}

.progressBarDark{
  background: #999999!important;
}

.alignTextDark{
  color: #FFF!important;
}